body {
    background-color: #bbbbbb;
    font-family: 'Courier New', Courier, monospace;

}

nav {
  position: sticky;
  top: 0;
  padding: 5px;
  background-color: #087CA7;
  border: 2px solid #2364AA;
}

/* Attribute Selector */
input[value] {
    background-color: #087CA7;
    color: #fff;
}

/* ID Styling */
#addBorder {
    border-right: 2px dotted;
}

p {
    padding: 5px;
    margin: 10px auto;

    justify-content: left;

    background-color: #DDDFDF;
}

h1 {
    text-align: center;
}

h4 {
    text-align: center;
    background-color: #DDDFDF;
}

.title {
    text-align: center;
}

img {
    margin: 5px;
    border-radius: 8px;
    float: left;
    background-color: #DDDFDF;

    width: 100%;

}

figure {
    float: left;
    margin: 10px;
    background-color: #DDDFDF;
}

input {
    margin: 10px 0 
}

a {
    color: #DDDFDF;
}

ul {
    background-color: #DDDFDF;
}

label {
    background-color: #DDDFDF;
}

input[type="text"] {
    background-color: #eeeeee;
}

select {
    background-color: #eeeeee;
}

section {
    display: flex;
    border: 5px solid;
    padding: 10px;
}

/* -----TABLE----- */
table {
    border: 5px solid;
    padding: 0px;
    border-collapse: collapse;

    background-color: #DDDFDF;
}

tr {
    padding: 0;
}

th {
    padding: 6px;
    border-left: 2px solid;
}

/* Class Style */
.column-headers {
    border: 2px solid;
    background-color: #aaaaaa;
}

.full_nav_bar {
    border: 0;
}



/* ---------------------------------------------------------------------------- */
/* Everything below this are new rulesets for Lab 8.4 Make Your Blog Responsive */
/* ---------------------------------------------------------------------------- */

.moble_nav_bar {
    display: none;
    border: 0;

    margin: 20px;
    margin-left: 0;
}

.menu_bar {

    width: 2em;
    height: 2em;

    margin: 0;
    padding: 0;
}

@media screen and (max-width: 992px) { 

    section {
        display: block;
    }

    p {
        font-size: 18px;
        text-align: center;
    }

    header h1 {
        font-size: 20px;
    }

}

@media screen and (max-width: 576px) {
    .full_nav_bar {
        display: none;
    }

    .moble_nav_bar {
        display: block;
    }

    p {
        font-size: 20px;
    }

    h4{ 
        font-size: 30px;
    }

    nav {
        top: 0;
        padding: 5px;
        background-color: #bbbbbb;
        border: none;
    }


}